{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OlegAuto</title>
    {% load staticfiles %}

    <script  src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/my.css' %}"
    type="text/css"/>

</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">OlegAuto</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown active">
                <a class="btn btn-outline-light ml-2 my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/form/">Добавити<span class="caret"></span><span class="sr-only">(current)</span></a>
                <ul class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/auto_app/add-car-view/">Автомобіль</a>
                    <a class="dropdown-item" href="/auto_app/add-auto-parts-type-view/">Тип запчастини</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auto_app/add-auto-parts-view/">Запчастину</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/auto_app/add-auto-parts-warehouse-view/">Запчастину на склад</a>
                </ul>
              </li>
          <li class="nav-item active">
            <a class="btn btn-outline-light ml-2 my-2 my-sm-0" href="/auto_app/list/">Проглянути<span class="sr-only">(current)</span></a>
          </li>
        </ul>
          <!--
        <form class="form-inline my-2 my-lg-0" action="/list/" method="post" accept-charset="utf-8">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
          --!>

        <form class="form-inline my-2 my-lg-0" action="/logout/" method="post" >
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm mr-sm-5">logout</button>
        {% endif %}
        </form>
      </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            {% block content%}
            {% endblock %}
        </div>


    </form>
    </div>
</body>
</html>